<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="mb-4">Películas</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Cliente Asignado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.name %></td>
            <td><%= movie.description %></td>
            <td>
              <% if movie.client %>
                <%= movie.client.name %>
              <% else %>
                <span class="text-muted">Sin asignar</span>
              <% end %>
            </td>
            <td>
              <%= link_to "Ver", movie, class: "btn btn-sm btn-info" %>
              <%= link_to "Editar", edit_movie_path(movie), class: "btn btn-sm btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Nueva Película", new_movie_path, class: "btn btn-primary" %>
</div>
